body{
    background: #a0c1f7;
    font-family: tahoma;
    color: #ffffff;
}

#todo-table{
    position: relative;
    width: 95%;
    background: #77b7ef;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    opacity: .6;
}

#todo-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

input[type="text"]::placeholder{
    width: 70%;
    background:#3b86ef;
    border: 0;
    float: left;
    font-size: 20px;
    color: #ffffff;
}

button .btn,
.btn-default
{

    float: left;
    background: #1d75f2;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

li:hover{
    text-decoration: line-through;
    background: rgba(0,0,0,0.2);
}

h1{
    background: url(/assets/TODO.png) no-repeat 50% 46%;
    height: 160px;
    margin-bottom: 0;
    padding:20px;
    margin-bottom: 10px
    text-align: center;
    text-indent: -10000px;
}

.placeholder{
  margin: 10px;
}
